@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-close {
  transform: translateX(750px);
  transition: transform 600ms ease;

}

.sidebar-open {
  transition: transform 600ms ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar-content {
  width: 80%;
  margin-left: auto;
  border-left: 4px solid gray;
  padding: 20px;
  background-color: white;
}


.opacity-section-close {
  opacity: 0;
  transition: opacity 1000ms ease;
  visibility: hidden;
}

.opacity-section-open {
  transition: opacity 1000ms ease;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.36);
}

.banner-gradient {
  background: rgb(255, 215, 237);
  background: -moz-linear-gradient(180deg, rgba(255, 215, 237, 0.9948354341736695) 0%, rgba(255, 255, 255, 1) 50%);
  background: -webkit-linear-gradient(180deg, rgba(255, 215, 237, 0.9948354341736695) 0%, rgba(255, 255, 255, 1) 50%);
  background: linear-gradient(180deg, rgba(255, 215, 237, 0.9948354341736695) 0%, rgba(255, 255, 255, 1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd7ed", endColorstr="#ffffff", GradientType=1);
}

.nav-shadow {
  -webkit-box-shadow: 0px 2px 4px 1px #000000;
  box-shadow: 0px 2px 4px 1px #000000;
}

.link-hover:hover {
  transform: scale(1.02);
  transition: transform 200ms ease;
}

.login-page-gradient {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(252, 189, 226, 1) 50%);
}

.promo-code-show {
  height: 40px;
  transition: height 200ms ease-in;
  transition-delay: 2ms;
  transition-property: opacity;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 12px;
}

.promo-code-hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height 200ms ease-in;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 12px;
}