@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-close {
  transform: translateX(500px);
  transition: transform 600ms ease;
}

.sidebar-open {
  transform: translateX(0);
  transition: transform 600ms ease;
}